<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<style>
    #single-user-heading-div {
        text-align: center;
    }
    #user-email-li {
        font-size: 25px;
    }
    #user-email-div {
        text-align: right;
    }
    #email-ul {
        list-style: none;
        margin-right: 30px;
    }
    #edit-btn {
        padding: 5px;
        display: block;
        margin-top: 20px;
        width: 120px;
        height: 30px;
        font-size: 18px;
    }
    #logout-btn {
        padding: 5px;
        display: block;
        margin-top: 20px;
        width: 84px;
        height: 30px;
        font-size: 20px;
        padding-bottom: 30px !important;
    }
    #save-btn {
        padding: 5px;
        display: block;
        margin-top: 20px;
        width: 144px;
        height: 30px;
        font-size: 18px;
    }
    #username-edit {
        font-size: 20px;
        width: 400px;
    }
    #email-edit {
        font-size: 20px;
        width: 800px;
    }
    #cancel-btn {
        padding: 5px;
        display: block;
        margin-top: 20px;
        width: 98px;
        height: 30px;
        font-size: 18px;
    }
    #change-pw-btn {
        padding: 5px;
        display: block;
        margin-top: 20px;
        width: 188px;
        height: 30px;
        font-size: 18px;
    }
    .password-btn {
        font-size: 20px;
        width: 218px;
    }
    #delete-btn {
        font-size: 20px;
        width: 170px;
        background-color: tomato;
    }
    #new-status-btn {
        font-size: 73px;
        float: right;
        margin-right: 20px;
        background-color: white;
        padding: 0;
        margin-top: -6px;
        height: 52px;
        border: none;
    }
    #new-status-btn:focus {
        outline-style: none;
    }
    #new-status-btn:active {
        background-color: buttonface;
        border-style: inset;
    }
    #new-status-text {
        position: relative;
        top: -30px;
    }
    #new-status-text:hover {
        cursor: pointer;
    }
    #new-status-text:focus {
        outline-style: none;
    }
    #new-status-text:active {
        color: green;
    }
    #new-status-form {
        position: absolute;
        width: 800px;
        height: 515px;
        top: 50px;
        left: 575px;
        background-color: white;
        border: 2px solid black;
    }
    #edit-status-form {
        position: absolute;
        width: 800px;
        height: 515px;
        top: 50px;
        left: 575px;
        background-color: white;
        border: 2px solid black;
    }
    #modal-h1 {
        text-align: center;
    }
    #modal-close-btn {
        float: right;
        margin-right: 18px;
        text-decoration: none;
        -webkit-appearance: none;
        font-size: 41px;
        margin-top: -5px;
        background: snow;
        border-color: gray;
        border-style: solid;
    }
    #modal-close-btn:focus {
        outline-style: none;
    }
    #modal-close-btn:active {
        background-color: buttonface;
        border-style: inset;
    }
    #modal-h1-text {
        margin-left: 64px;
        font-size: 30px;
    }
    #modal-textarea-div {
        text-align: center;
    }
    #modal-textarea-text {
        width: 679px;
        height: 286px;
        font-size: 20px;
        padding: 10px;
    }
    #modal-textarea-text:focus {
        outline-style: none;
    }
    #modal-textarea-text-edit-form {
        width: 679px;
        height: 286px;
        font-size: 20px;
        padding: 10px;
    }
    #modal-textarea-text-edit-form:focus {
        outline-style: none;
    }
     #modal-create-btn {
        font-size: 28px;
        -webkit-appearance: none;
        background-color: white;
        border: 2px solid gray;
        border-radius: 25px;
        padding: 10px 12px 10px 12px;
    }
    #modal-create-btn:focus {
        outline-style: none;
    }
    #modal-create-btn:active {
        border-style: inset;
        background-color: buttonface;
    }
    #modal-edit-btn {
        font-size: 28px;
        -webkit-appearance: none;
        background-color: white;
        border: 2px solid gray;
        border-radius: 25px;
        padding: 10px 12px 10px 12px;
        width: 88px;
    }
    #modal-edit-btn:focus {
        outline-style: none;
    }
    #modal-edit-btn:active {
        border-style: inset;
        background-color: buttonface;
    }
    #modal-create-btn-div {
        text-align: center;
    }
    #modal-edit-btn-div {
        text-align: center;
    }
    .status-div {
        margin-bottom: 10px;
        padding: 0 75px 0 75px;
    }
    .status-content {
        font-size: 20px;
    }
    .delete-status-btn {
        -webkit-appearance: none;
        float: right;
        font-size: 20px;
        background-color: aliceblue;
        border: none;
    }
    .delete-status-btn:focus {
        outline-style: none;
    }
    .delete-status-btn:active {
        border-style: inset;
        background-color: black;
        color: red;
    }
    .edit-status-btn {
        float: right;
        -webkit-appearance: none;
        font-size: 18px;
        margin-right: 10px;
        background-color: azure;
    }
    .edit-status-btn:focus {
        outline-style: none;
    }
    .edit-status-btn:active {
        background-color: #C0D9AF;
    }
    .heart-btn {
        color: #00688B;
    }
    .heart-btn:hover {
        cursor: pointer;
    }
    .heart-btn-text {
     
    }
    .heart-btn-text:hover {
        color: #42647F;
        font-size: 25px;
        cursor: pointer;
    }
    .heart-btn-text:active {
        font-size: 28px;
    }
    .heart-btn-change {
        color: #ff6666;
        
    }
    #username-modal-list {
        position: absolute;
        width: 800px;
        height: 515px;
        top: 50px;
        left: 575px;
        background-color: #FCE6C9;
        border: 2px solid black;
    }
    #comment-modal {
        position: absolute;
        width: 800px;
        height: 100%;
        top: 50px;
        left: 575px;
        background-color: white;
        border: 2px solid black;
        overflow: scroll;
        z-index: 5;
    }
    #content-like-p-tag-text {
        text-align: center;
    }
    #content-like-p-tag-text-2 {
        font-size: 25px;
        padding: 20px;
    }
    .li-like-modal-text {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .comment-icon {
        color: #00688B;
        float: right;
    }
    .comment-icon:hover {
        cursor: pointer;
    }
    .comment-count-text {
        font-size: 18px;
        margin-top: 15px;
        float: right;
    }
    #add-comment-btn {
        font-size: 28px;
        -webkit-appearance: none;
        background-color: white;
        border: 2px solid gray;
        border-radius: 25px;
        padding: 10px 12px 10px 12px;
        width: 220px;
    }
    #add-comment-btn:focus {
        outline-style: none;
    }
    #add-comment-btn:active {
        border-style: inset;
        background-color: buttonface;
    }
    #add-comment-div {
        text-align: center;
    }
    #comment-textarea-div {
        text-align: center;
    }
    #comment-textarea {
        font-size: 18px;
        width: 556px;
        height: 90px;
        border: 5px solid rgb(90, 119, 173);
        border-radius: 25px;
        padding: 20px;
    }
    #comment-textarea:focus {
        outline-style: none;
    }
    .comment-p-tag-text {
        font-size: 23px;
        border: 2px solid black;
        display: inline-block;
        padding: 20px;
        border-radius: 25px;
        margin-right: 50px;
        margin-left: 50px;
    }
    .comment-p-tag-div {
        text-align: center;
        margin-top: -28px;
    }
    .comment-p-span-text {
        font-size: 15px;
    }
    .comment-p-span-span {
        float: right;
        margin-right: 18px;
    }
    .delete-comment-btn {
        position: relative;
        -webkit-appearance: none;
        font-size: 14px;
        background: beige;
    }
    .delete-comment-btn:focus {
        outline-style: none;
    }
    .comment-like-icon {
        font-size: 39px;
        margin-top: 25px;
        margin-right: 130px;
        color: #6183A6;
    }
    .comment-like-icon:hover {
        cursor: pointer;
    }
    .comment-like-span-text {
        position: absolute;
        margin-left: -115px;
    }
    .comment-like-span-count:hover {
        cursor: pointer;
    }
    #show-who-liked-comment-ul {
        position: fixed;
        top: 300px;
        font-size: 35px;
        background: white;
        border: 3px solid black;
        padding: 50px;
        border-radius: 25px;
        margin-left: 448px;
    }
    #comment-like-modal {
        position: absolute;
        width: 800px;
        height: 515px;
        top: 208px;
        left: 575px;
        background-color: #FCE6C9;
        border: 2px solid black;
        z-index: 10;
    }
    #content-comment-like-p-text {
        font-size: 25px;
        padding: 20px;
    }
    #content-comment-like-p-text-div {
        text-align: center;
    }
    .ul-usernames {
        text-align: center;
        list-style-type: none;
        margin-left: -58px;
    }
    .li-comment-like {
        font-size: 28px;
        margin-bottom: 10px;
    }
    #followers-span {
        margin-right: 22px;
        margin-left: 8px;
        font-size: 28px;
        border: 1px solid black;
        padding: 20px;
        border-radius: 6px;
    }
    #following-span {
        font-size: 28px;
        border: 1px solid black;
        padding: 20px;
        border-radius: 6px;
    }
    #follow-btn {
        -webkit-appearance: none;
        font-size: 38px;
        margin-left: 463px;
        padding-left: 20px;
        padding-right: 20px;
        background: wheat;
        border-radius: 22px;
        border-style: solid;
        border-color: gray;
    }
    #follow-btn:focus {
        outline-style: none;
    }
    #follow-btn:active {
        border-style: inset;
        background-color: #CDB38B;
    }
    #follow-btn:hover {
        cursor: pointer;
    }
    .show-followers-caret {
        font-size: 21px;
        color: darkblue;
        position: absolute;
        margin-left: -2px;
    }
    .show-followers-caret:hover {
        cursor: pointer;
    }
    .show-following-caret {
        font-size: 21px;
        color: darkblue;
        position: absolute;
        margin-left: -2px;
    }
    .show-following-caret:hover {
        cursor: pointer;
    }
    #followers-modal {
        position: absolute;
        width: 800px;
        height: 515px;
        top: 50px;
        left: 575px;
        background-color: #FCE6C9;
        border: 2px solid black;
    }
    .followers-usernames {
        font-size: 30px;
        margin-bottom: 17px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        width: 200px;
        margin-left: 43%;
    }
    #following-modal {
        position: absolute;
        width: 800px;
        height: 830px;
        top: 50px;
        left: 575px;
        background-color: #FCE6C9;
        border: 2px solid black;
    }
    .following-usernames {
        font-size: 30px;
        margin-bottom: 17px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        width: 200px;
        margin-left: 43%;
    }
    .status-content-p-tag-text-card {
        font-size: 18px;
    }
</style>

<nav>
    <div class="nav-wrapper indigo">
        <a ui-sref="home" class="brand-logo home-logo-text-nav">Status Universe</a>
        <a href="#" data-activates="mobile-user-slide" class="button-collapse"><i class="fa fa-bars fa-3x"></i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li ng-if="!global.is_authed() && !global.at_signup">
                <a ui-sref="sign-up">Sign Up</a>
            </li>
            <li ng-if="!global.is_authed() && !global.at_login">
                <a ui-sref="login">Login</a>
            </li>
            <li ng-if="global.is_authed() && !global.at_profile">
                <a ui-sref="single-user({ id: global.current_user_id() })">Profile</a>
            </li>
            <li ng-if="global.is_authed()">
                <a ui-sref="feed( { id: global.current_user_id() } )">Status Feed</a>
            </li>
            <li ng-if="global.is_authed() && single_user_ctrl.can_logout()">
                <a ui-sref="home" ng-click="global.logout()">Logout</a>
            </li>
        </ul>
         <ul id="mobile-user-slide" class="side-nav">
            <li ng-if="!global.is_authed() && !global.at_signup">
                <a ui-sref="sign-up">Sign Up</a>
            </li>
            <li ng-if="!global.is_authed() && !global.at_login">
                <a ui-sref="login">Login</a>
            </li>
            <li ng-if="global.is_authed() && !global.at_profile">
                <a ui-sref="single-user({ id: global.current_user_id() })">Profile</a>
            </li>
            <li ng-if="global.is_authed()">
                <a ui-sref="feed( { id: global.current_user_id() } )">Status Feed</a>
            </li>
            <li ng-if="global.is_authed() && single_user_ctrl.can_logout()">
                <a ui-sref="home" ng-click="global.logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<!-- create the ability to follow and unfollow users on front end and back end. -->

<button ng-show="!single_user_ctrl.editing && single_user_ctrl.can_logout() && global.is_authed()" type="button" id="edit-btn" ng-click="single_user_ctrl.begin_editing()">Edit Profile</button>
<button ng-show="single_user_ctrl.editing" type="button" id="save-btn" ng-click="single_user_ctrl.save_updates()">Save Changes</button>
<button ng-show="single_user_ctrl.editing" type="button" id="cancel-btn" ng-click="single_user_ctrl.cancel_changes()">Cancel</button>
<button ng-show="single_user_ctrl.editing && !single_user_ctrl.changing_password" type="button" id="change-pw-btn" ng-click="single_user_ctrl.start_password_change()">Change Password</button>
<br>
<button ng-show="single_user_ctrl.editing && single_user_ctrl.can_logout()" type="button" id="delete-btn" ng-click="single_user_ctrl.delete_account()"> Delete Account </button>
<div ng-show="single_user_ctrl.changing_password">
    <br>
    <input class="password-btn" type="password" placeholder="Current Password:" ng-model="single_user_ctrl.new_password.current_pw">
    <br>
    <br>
    <input class="password-btn" type="password" placeholder="New Password:" ng-model="single_user_ctrl.new_password.new_pw">
    <br>
    <br>
    <input class="password-btn" type="password" placeholder="Confirm New Password:" ng-model="single_user_ctrl.new_password.confirm_new_pw">
</div>
<div id="single-user-heading-div">
    <h1 ng-show="!single_user_ctrl.editing"> <u>{{ single_user_ctrl.user_details.username }}'s Profile</u> </h1>
    <h1 ng-show="single_user_ctrl.editing"> <input id="username-edit" type="text" ng-model="single_user_ctrl.user_details.username"> </h1>
</div>
<div>
    <span id="followers-span">
        Followers: 
        <span>
             {{ single_user_ctrl.user_details.followers.length }} 
        </span>
        <span>
            <i ng-mousedown="single_user_ctrl.followers_icon_down($event)" ng-mouseup="single_user_ctrl.followers_icon_up($event)" class="fa fa-caret-down show-followers-caret"></i>
        </span>
    </span>

    <span id="following-span">
        Following:
        <span>
            {{ single_user_ctrl.user_details.following.length }}
        </span>
        <i ng-mousedown="single_user_ctrl.following_icon_down($event)" ng-mouseup="single_user_ctrl.following_icon_up($event)" class="fa fa-caret-down show-following-caret"></i>
    </span>

    <input ng-show="single_user_ctrl.check_if_on_profile()" ng-mouseover="single_user_ctrl.check_if_following($event)" ng-mouseleave="single_user_ctrl.change_back_to_default($event)" ng-click="single_user_ctrl.follow()" id="follow-btn" type="button" value="Follow">
</div>
<div id="user-email-div">
    <ul id="email-ul">
        <li ng-show="!single_user_ctrl.editing" id="user-email-li">Email: {{ single_user_ctrl.user_details.email }}</li>
        <li ng-show="single_user_ctrl.editing"> <input id="email-edit" type="text" ng-model="single_user_ctrl.user_details.email"> </li>
    </ul>
</div>
<hr>
<div>
    <h1> Statuses <button ng-show="single_user_ctrl.can_logout() && global.is_authed()" ng-click="single_user_ctrl.bring_up_modal()" id="new-status-btn" type="button"><span id="new-status-text">+</span></button> </h1>
    <hr>

<!--
    <div class="status-div" ng-repeat="status in single_user_ctrl.user_details.statuses | orderBy: '': reverse = true">
        <input ng-click="single_user_ctrl.delete_status($index)" ng-show="single_user_ctrl.editing && !single_user_ctrl.edit_modal_up" class="delete-status-btn" type="button" value="X">
        <input ng-click="single_user_ctrl.bring_up_edit_modal($index, $event)" ng-show="single_user_ctrl.editing && !single_user_ctrl.edit_modal_up" class="edit-status-btn" type="button" value="Edit Status">
        <br>
        <i ng-mousedown="single_user_ctrl.heart_button_clicked($event, global.is_authed())" ng-mouseup="single_user_ctrl.heart_button_up($event, status._id, status.content, global.is_authed())" class="fa fa-heart-o fa-2x heart-btn"></i>
        <span ng-click="single_user_ctrl.show_liked_users_modal(status.likes, status.content)" class="heart-btn-text"> {{ status.likes.length }} </span>
        <span class="status-content"> {{ status.content }} </span>
        <br>
        <br>
        <i ng-mousedown="single_user_ctrl.comment_icon_down($event)" ng-mouseup="single_user_ctrl.comment_icon_up($event, status.content, status._id, status.comments)" class="fa fa-commenting-o fa-2x comment-icon"></i>
        <span class="comment-count-text"> {{ status.comments.length }} </span>
        <hr>
    </div>-->

    <div class="container" ng-repeat="status in single_user_ctrl.user_details.statuses | orderBy: '': reverse = true;">
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <input ng-click="single_user_ctrl.delete_status($index)" ng-show="single_user_ctrl.editing && !single_user_ctrl.edit_modal_up" class="delete-status-btn" type="button" value="X">
                        <input ng-click="single_user_ctrl.bring_up_edit_modal($index, $event)" ng-show="single_user_ctrl.editing && !single_user_ctrl.edit_modal_up" class="edit-status-btn" type="button" value="Edit Status">
                        <p class="status-content-p-tag-text-card"> {{ status.content }} </p>
                    </div>
                    <div class="card-action">
                        <i ng-mousedown="single_user_ctrl.heart_button_clicked($event, global.is_authed())" ng-mouseup="single_user_ctrl.heart_button_up($event, status._id, status.content, global.is_authed())" class="fa fa-heart-o fa-2x heart-btn"></i>
                        <span ng-click="single_user_ctrl.show_liked_users_modal(status.likes, status.content)" class="heart-btn-text"> {{ status.likes.length }} </span>

                        <span class="comment-count-text"> {{ status.comments.length }} </span>
                        <i ng-mousedown="single_user_ctrl.comment_icon_down($event)" ng-mouseup="single_user_ctrl.comment_icon_up($event, status.content, status._id, status.comments)" class="fa fa-commenting-o fa-2x comment-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<div ng-show="single_user_ctrl.modal_up" id="new-status-form">
    <div id="modal-h1">
        <h1 id="modal-h1-text"> <u>Add a new status to your profile:</u> <input id="modal-close-btn" ng-click="single_user_ctrl.close_modal()" type="button" value="X"> </h1>
    </div>
    <br>
    <div id="modal-textarea-div">
        <textarea ng-model="single_user_ctrl.new_status.content" id="modal-textarea-text" placeholder="Status content goes here...."></textarea>
    </div>
    <br>
    <div id="modal-create-btn-div">
        <input ng-click="single_user_ctrl.create_new_status()" id="modal-create-btn" type="button" value="Create">
    </div>
    <br>
</div>

<div ng-show="single_user_ctrl.edit_modal_up" id="edit-status-form">
    <div id="modal-h1">
        <h1 id="modal-h1-text"> <u>Edit this status:</u> <input id="modal-close-btn" ng-click="single_user_ctrl.close_edit_modal()" type="button" value="X"> </h1>
    </div>
    <br>
    <div id="modal-textarea-div">
        <textarea ng-model="single_user_ctrl.status_content_current" id="modal-textarea-text-edit-form"></textarea>
    </div>
    <br>
    <div id="modal-edit-btn-div">
        <input ng-click="single_user_ctrl.update_current_status()" id="modal-edit-btn" type="button" value="Save">
    </div>
    <br>
</div>

<div ng-show="single_user_ctrl.username_modal_up" id="username-modal-list">
    <div id="modal-h1">
        <h1 id="modal-h1-text"> <u>Users who have liked this status:</u> <input id="modal-close-btn" ng-click="single_user_ctrl.close_like_modal()" type="button" value="X"> </h1>
    </div>
    <div id="content-like-p-tag-text">
         <p id="content-like-p-tag-text-2"> {{ single_user_ctrl.content_for_like_modal }} </p>
    </div>
   
    <ul class="ul-usernames">
        <li class="li-like-modal-text" ng-repeat="username in single_user_ctrl.arr_for_like_modal">
            {{ username }}
        </li>
    </ul>
</div>

<!-- followers modal -->
<div id="followers-modal" ng-show="single_user_ctrl.show_followers_modal">
    <div id="modal-h1">
        <h1 id="modal-h1-text"> <u> {{ single_user_ctrl.user_details.username }}'s Followers: </u> <input id="modal-close-btn" type="button" value="X" ng-click="single_user_ctrl.close_followers_modal()"> </h1>
    </div>
    <ul class="ul-usernames">
        <li class="followers-usernames" ng-repeat="username in single_user_ctrl.followers_modal_arr">
            {{ username }}
        </li>
     
    </ul>
</div>

<!-- following modal -->
<div id="following-modal" ng-show="single_user_ctrl.show_following_modal">
    <div id="modal-h1">
        <h1 id="modal-h1-text">
            <u> Who {{ single_user_ctrl.user_details.username }} is Following: </u>
            <input id="modal-close-btn" type="button" value="X" ng-click="single_user_ctrl.close_following_modal()">
        </h1>
    </div>
    <ul class="ul-usernames">
        <li class="following-usernames" ng-repeat="username in single_user_ctrl.show_following_modal_arr">
            {{ username }}
        </li>
    </ul>
</div>

<div ng-show="single_user_ctrl.show_who_liked" id="comment-like-modal">
    <div id="modal-h1">
        <h1 id="modal-h1-text"> <u>Users who have liked this comment:</u> <input id="modal-close-btn" ng-click="single_user_ctrl.close_comment_like_modal()" type="button" value="X"> </h1>
    </div>
    <div id="content-comment-like-p-text-div">
        <p id="content-comment-like-p-text">
            "{{ single_user_ctrl.comment_content_for_like_ul }}"
        </p>
    </div>
    <ul class="ul-usernames">
       <li class="li-comment-like" ng-repeat="username in single_user_ctrl.comment_likes_modal_arr track by $index"> {{ username }} </li>
   </ul>
</div>

<div ng-show="single_user_ctrl.comment_modal_up" id="comment-modal">
   <div id="modal-h1">
       <h1 id="modal-h1-text"> <u>All Comments for this Status:</u> <input id="modal-close-btn" ng-click="single_user_ctrl.close_comment_modal()" type="button" value="X"> </h1>
   </div>
   <hr>
   <div id="content-like-p-tag-text">
       <p id="content-like-p-tag-text-2"> {{ single_user_ctrl.comment_content }}  </p>
   </div>
   <hr>
   <br>
   <div class="comment-p-tag-div" ng-repeat="comment in single_user_ctrl.comment_modal_arr | orderBy: '': reverse = true">
       <p class="comment-p-tag-text">
           {{ comment.content }}
           <input ng-show="single_user_ctrl.can_delete_comment(comment.username) && global.is_authed()" ng-click="single_user_ctrl.delete_comment_modal(comment._id)" type="button" value="X" class="delete-comment-btn">           
           <br>
           <span class="comment-p-span-span">
               <span class="comment-p-span-text">written by: {{ comment.username }}</span>
           </span> 
           <i ng-mousedown="single_user_ctrl.comment_like_down($event)" ng-mouseup="single_user_ctrl.comment_like_up($event, comment._id)" class="fa fa-thumbs-o-up fa-2x comment-like-icon"></i>
           <br>
           <span><span ng-click="single_user_ctrl.show_comment_like_users(comment._id)" class="comment-like-span-count">Likes</span>: <span> {{ comment.likes.length }} </span></span>
       </p>
   </div>

 

   <div id="comment-textarea-div">
       <textarea ng-model="single_user_ctrl.add_comment_content" id="comment-textarea" placeholder="Write a comment to share your thoughts on this post..."></textarea>
   </div>
   <br>
   <div id="add-comment-div">
       <input ng-click="single_user_ctrl.add_comment_to_status()" id="add-comment-btn" type="button" value="Add Comment">
   </div>
   <br>
   <br>
</div>

<script>
    $(document).ready(function(){
        $(".button-collapse").sideNav();
    })
</script>